@import '../variables';

.postContainer {
  h1 {
    font-family: vesterbro-poster, serif;
    text-transform: lowercase;
    color: $blue;
    font-size: 30px;
    @include md {
      font-size: 36px;
    }
  }
  img {
    display: block;
    max-width: 800px;
    margin: 30px auto;
  }
  iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  pre {
    background-color: $blue;
    code {
      color: $white;
    }
  }
  code {
    color: $blue;
  }
}
