/* ---------- General ---------- */

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
}

button {
  background-color: #3F51B5;
  color: #FFFFFF;
  transition: all 0.2s ease-out;
}

a {
  color: #FF595E;
  transition: all 0.2s ease-out;
}

a:hover {
  color: #FF595E;
  cursor: pointer;
}

a:focus {
  color: #FF595E;
}

.heading {
  margin-bottom: 2.5em;
}

.heading h1,
.heading h2,
.heading h3,
.heading h4 {
  display: inline-block;
  border-bottom: solid 5px #FF595E;
  margin-bottom: 0;
  padding-bottom: 0.25em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #FFFFFF;
}

section {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

section .container {
  padding: 2em 3em 3em 3em;
  max-width: 60em;
  width: 100%;
}


/* ---------- Buttons ---------- */

.btn-main {
  background-color: #3F51B5;
  border-radius: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn-main:hover {
  color: #FFFFFF;
  background-color: #3F51B5;
}


/* ---------- Navbar ---------- */

.navbar {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar-default {
  background-color: #212121;
  border: none;
}

.navbar .social {
  margin-top: 0.625em;
  margin-right: 5px;
  float: right;
  text-align: right;
}

@media (max-width: 767px) {
  .navbar .social {
    margin-top: -3.125em;
  }
}

.navbar .contact-icon {
  font-size: 1.25em;
  margin-left: 0.5em;
  color: #FFFFFF;
}

.navbar button.navbar-toggle {
  float: left;
  margin: 0.75em;
  padding: 0.5em 0.875em;
  border-color: #212121;
  background-color: #212121;
  box-shadow: none;
}

.navbar button.navbar-toggle:hover,
.navbar button.navbar-toggle:focus {
  color: #212121;
  background-color: #FFFFFF;
}

.navbar ul.nav > li > a {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 1em 1em;
  color: #FFFFFF;
  font-weight: 300;
}

.navbar-nav li.dropdown:hover a {
  background-color: #FFFFFF;
  color: #212121;
}


/* ---------- Homepage - Intro Header Thing ---------- */

section.profile {
  background-color: #3F51B5;
  padding-bottom: 0;
}

section.profile .container {
  box-shadow: none;
  color: #FFFFFF;
  width: 100%;
}

section.profile .intro-top-bar {
  height: 12em;
  background-color: #303F9F;
}

section.profile .profile-image {
  position: absolute;
  top: 9em;
  margin-left: -5.5em;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  max-height: 11em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

section.profile .name {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 0.5px;
}

@media (max-width: 479px) {
  section.profile .name {
    font-size: 2.5em;
  }
}

section.profile .title {
  margin-top: 0.25em;
  font-size: 1.75em;
  font-weight: 300;
}

@media (max-width: 479px) {
  section.profile .title {
    font-size: 1.5em;
  }
}

section.profile #description {
  font-weight: 500;
}

section.profile i {
  margin-top: 1.125em;
  font-size: 3em;
}

section.profile i:hover {
  opacity: 0.75;
}


/* ---------- Homepage - Skills ---------- */

section.skills {
  background-color: #303F9F;
}

section.skills p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  padding: 0.375em;
  border: 1px solid #7986CB;
  border-radius: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 0.875em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #3F51B5;
}


/* ---------- Homepage - Portfolio ---------- */

section.portfolio {
  background-color: #3F51B5;
}

section.portfolio .portfolio-card-container {
  margin-top: 3.125em;
}

.card {
  border-radius: 2px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  padding-bottom: 1em;
  max-width: 25em;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-color: #FFFFFF;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #EEEEEE;
}

.card-description-div {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.card h3 {
  margin-bottom: 0.75em;
}

.card .links {
  margin-top: 1.5em;
  padding-top: 1.25em;
  border-top: 1px solid #EEEEEE;
  text-transform: uppercase;
}

.card .links a {
  font-weight: 500;
}

/* ---------- Homepage - Community ---------- */

section.community {
  background-color: #303F9F;
}

section.community .community-container {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #FFFFFF;
  border-radius: 2px;
  height: 100%;
  max-width: 35em;
  display: table;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

section.community .community-container .row {
  height: 100%;
  display: table-row;
}

section.community .community-container .vertical-center {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

section.community .community-container img {
  width: 100%;
}


/* ---------- Breadcrumbs ---------- */

#heading-breadcrumbs {
  background-color: #3F51B5;
  padding: 1.25em 0;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

@media (max-width: 767px) {
  #heading-breadcrumbs {
    margin-top: 4em;
  }
}

#heading-breadcrumbs h1 {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.08em;
  font-weight: 400;
}

@media (max-width: 767px) {
  #heading-breadcrumbs h1 {
    text-align: center;
  }
}


/* ---------- Blog Landing Page ---------- */

.container section.post {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #FFFFFF;
}

#blog-listing-medium .post {
  margin-bottom: 4em;
}

#blog-listing-medium .post h2 {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 500;
}

#blog-listing-medium .post .author-category {
  float: left;
  color: #999999;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.08em;
}

#blog-listing-medium .post .date-comments {
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.08em;
}

#blog-listing-medium .post a.continue-reading {
  margin-top: 0.5em;
  text-transform: uppercase;
  color: #303F9E
}


/* ---------- Pagination ---------- */

.pager {
  margin: 1.25em 0;
  border-top: solid 1px #eeeeee;
  padding-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.pager li > a,
.pager li > span {
  background-color: #3F51B5;
  border: 1px solid #3F51B5;
  border-radius: 0;
  color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #3F51B5;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  border-color: #ddd;
  box-shadow: none;
}


/* ---------- Blog Sidebar ---------- */

.panel {
  margin-bottom: 0;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 0 0;
}

.panel.sidebar-menu .panel-heading {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #ffffff;
  border-radius: 2px;
  border-bottom: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.panel.sidebar-menu .panel-heading h3 {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: solid 5px #FF595E;
  line-height: 1.1;
  font-weight: 400;
}

.panel.sidebar-menu .form-control {
  border-radius: 2px;
}

.panel.sidebar-menu .form-control:focus {
  border-color: #3F51B5;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(63, 81, 181, 0.6);
}

.panel.sidebar-menu button {
  box-shadow: none;
}

.panel.sidebar-menu ul.tag-cloud {
  list-style: none;
  padding-left: 0;
}

.panel.sidebar-menu ul.tag-cloud li {
  display: inline-block;
}

.panel.sidebar-menu ul.tag-cloud li a {
  display: inline-block;
  margin: 0.25em 0.25em 0.25em 0;
  padding: 0.375em;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
  color: #3F51B5;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 0.75em;
}

.panel.sidebar-menu ul.tag-cloud li a:hover {
  text-decoration: none;
  border: 1px solid #3F51B5;
  background-color: #3F51B5;
  color: #FFFFFF;
}


/* ---------- Single Post ---------- */

#blog-post .post-date {
  margin-bottom: 1.25em;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 0.08em;
}

#blog-post img {
  width: 100%;
}

section.share {
  width: 100%;
  margin-top: 1em;
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  text-transform: none;
}

section.share {
  background-color: #FFFFFF;
  text-transform: uppercase;
  color: #999999;
}

section.share a {
  text-decoration: none;
  color: #3F51B5;
}


/* ---------- About ---------- */

.container.about {
  max-width: 60em;
  width: 95%;
  margin-bottom: 2em;
}

.container.about img {
  width: 100%;
  margin-bottom: 2em;
}


/* ---------- Footer ---------- */

footer {
  background: #555555;
  color: #999999;
  text-align: center;
}

footer p {
  margin: 0.75em 0;
}
