/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    position: relative;
    background-color: #FFFFFF;
}

.social {
    float: right;
    text-align: right;
    position: relative;
}

.contact-icon {
    margin-left: 0.25em;
    margin-right: 0.25em;
    color: $brand-color;

    &:visited,
    &:hover,
    &:active {
        color: $brand-color;
    }

    

}

.main-nav {
    text-align: left;
    float: left;
    position: relative;
}

.site-nav {
    line-height: 3.25em;

    .menu-icon {
        display: none;
    }

    .page-link {
        font-weight: 300;
        color: $brand-color;
        line-height: $base-line-height;

        &:hover {
            color: $head-link-color;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    @include media-query($on-palm) {
        position: relative;
        top: 9px;
        z-index: 1;
        margin-bottom: 1em;

        .menu-icon {
            display: block;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            clear: both;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
            text-align: center;
        }

        &:hover .trigger {
            display: block;
            margin-bottom: 0.5em;
        }

        .social,
        .main-nav {
            float: none;
            text-align: center;
        }

        .page-link {
            padding: 0.25em 0.5em;

            &:not(:last-child) {
            margin-right: -0.5em;
            }
        }
    }
}


/**
 * Scroll to top button
 */

#return-to-top {
    position: fixed;
    bottom: 1.5em;
    right: 1.75em;
    background: rgb(244, 91, 105);
    background: rgba(244, 91, 105, 0.6);
    width: 2.75em;
    height: 2.75em;
    border-radius: 50%;
    display: none;
}

#return-to-top i {
    color: #fff;
    position: fixed;
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-left: 0.4em;
}

#return-to-top:hover {
    background: rgba(244, 91, 105, 0.9);
}



/**
 * Site footer
 */
 
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer {
    font-size: $small-font-size;
    line-height: $small-font-size;
    font-weight: 300;
}


/**
 * Home page
 */
.intro {
    width: 100%;
    padding-top: 4em;
    padding-bottom: 2.125em;
    h1 {
        font-family: $base-header-family;
        font-weight: 700;
        color: $head-link-color;
        font-size: 3.25em;
        line-height: 1em;
        letter-spacing: 0;
    }
    
    h2 {
        font-family: $base-font-family;
        font-weight: 900;
        color: #555555;
        font-size: 1.75em;
        line-height: 1.25em;
        letter-spacing: 0;
    }
}

.description h2 {
    display: inline;
}

#description {
    color: #555555;
}


/**
 * Post Preview
 */
.post-preview-title {
    font-size: 0.75em;
    color: $brand-color;
}

.post-description {
    font-family: $base-font-family;
    font-size: 1.125em;
    font-weight: 300;
    margin-top: -1em;
    margin-bottom: 1em;
    color: #A3A3A3;
}

.post-meta {
    font-size: $small-font-size;
    font-style: italic;
    color: $grey-color-light;
    margin-top: 1em;
    font-weight: 300;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.tagged {
    font-size: $small-font-size;
    margin-top: 1em;
    color: $grey-color;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Pagination
 */
.pager li {
    list-style: none;
}

.pager li a {
  text-transform: uppercase;
  padding: 10px 5px;
  background: #FFF;
  border-radius: 0;
  color: $brand-color;
}

.pager li a:hover,
.pager li a:focus {
  color: $head-link-color;
}

.previous,
.next {
    font-family: $base-header-family;
    font-weight: 300;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.clear {
    height: 1.6em;
}


/**
 * About
 */
.small-line h3 {
    margin-bottom: 0em;
}

.about-img {
    width: 23%;
    padding: 1px;

    @include media-query($on-palm) {
        width: 44%;
    }
}

.about-images {
    margin-bottom: 1.25em;
}



/** 
 * Portfolio
 */

/**
 * Grid
 */

.project {
    width: 50%;
    float: left;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0.5em;

    @include media-query($on-palm) {
        width: 100%;
    }
}

.thumbnail {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    height: auto;
    position: relative;
}

.thumbnail a {
    float: left;
    position: relative;
    width: 100%;
}

.project-description {
    font-size: 0.875em;
}

.thumbnail a span {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    color: $grey-color-light;
    padding: 0.5em;
    text-align: center;
    line-height: 1.5em;
    z-index: 0;
}

.thumbnail a:hover span {
    display: block;
}

.flex-container {
    height: 100%;
    margin: 0 auto;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.flex-container div {
    width: 100%;
    overflow: auto;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-link {
    clear: both;
    padding-top: 1em;
}



/** 
 * Portfolio pages
 */
.portfolio-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: 0.75em;
}

.img_row{
    width: 100%;
    overflow: hidden;
    box-sizing:border-box;
    padding: $img_spacing;
}

.col { 
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing:border-box;
    padding: $img_spacing;
}

.right {
    float: right;
}

.one {
    width: 33.33%;
}

.two {
    width: 66.66%;
}

.three {
    width: 100%;
}

.caption {
    height: 100%;
    color: $caption_color;
    text-align: center;
    vertical-align: middle;
    font-size: $caption_font_size;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    line-height: 1;
}

.tagged-text {
    font-weight: 300;
}


/**
 * Archives
 */
.tag-cloud {
    max-width: 38.875em;
    list-style: none;
    margin: 0 0 2em 0;
}

.tag-cloud li {
    display: inline-block;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}

.tag-cloud a {
    text-decoration: none;
    font-size: 0.875em;
    background: $head-link-color;
    color: white;
    padding: 0.125em 0.25em;
    border-radius: 0.25em;
    font-weight: 300;
}

.taglist {
    list-style: none;
}

.tag-title {
    font-weight: 300;
}

time {
    font-weight: 300;
    color: $grey-color-light;
}