<section class="profile">
  <div>

    <div class="container-fluid intro-top-bar">
    </div>

    <div class="container text-center">
      <img class="profile-image" src="img/about/avatar.jpg" alt="Profile Picture">
      <h1 class="name">Beth Qiang</h1>
      <div class="title">I'm a <span id="description">developer</span></div>
      <div class="title">trying to change the world</div>
      <a id="arrow-thing" href="#skills"><i class="fa fa-angle-double-down"></i></a>
    </div>

  </div>
  <!-- /.container -->
</section>
