<section id="skills" class="skills">
  <div class="container">
    <div class="heading text-center">
      <h1>Skills</h1>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3 text-center">
        <p>HTML & CSS</p>
        <p>Bootstrap</p>
        <p>Sass</p>
        <p>JavaScript</p>
        <p>jQuery</p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <p>Node.js</p>
        <p>Express.Js</p>
        <p>ReactJS</p>
        <p>Redux</p>
        <p>Mocha/Chai</p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <p>SQL</p>
        <p>Sequelize</p>
        <p>Data Structures</p>
        <p>WebSockets</p>
      </div>
      <div class="col-xs-6 col-sm-3 text-center">
        <p>A-Frame</p>
        <p>three.js</p>
        <p>Git & GitHub</p>
        <p>Heroku</p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
