<section class="community">
  <div class="container">
    <div class="heading text-center">
      <h1>Around the Tech Community</h1>
    </div>
    <div class="row">
      <!-- new box thing -->
      <div class="col-sm-6">
        <div class="community-container">
              <!-- image -->
              <img src="/img/community/working-women-advocates.png" />
              <!-- title -->
              <div class="community-heading">
                <h4>Chief Tech Geek & Dev at Working Women Advocates</h4>
              </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="community-container">
          <div class="row">
            <div class="col-xs-3 vertical-center text-center">
              <!-- image -->
              <img src="/img/community/general-assembly-logo.png" />
            </div>
            <div class="col-xs-12">
              <!-- title -->
              <h4>Winner of General Assembly's Social Impact Create-A-Thon</h4>
              <!-- description -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="community-container">
          <div class="row">
            <div class="col-xs-3 vertical-center text-center">
              <!-- image -->
              <img src="/img/community/course-report-logo.png" />
            </div>
            <div class="col-xs-12">
              <!-- title -->
              <h4>Interviewed about Fullstack Academy's Remote Immersive</h4>
              <!-- description -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="community-container">
          <div class="row">
            <div class="col-xs-3 vertical-center text-center">
              <!-- image -->
              <img src="/img/community/freecodecamp-logo.png" />
            </div>
            <div class="col-xs-12">
              <!-- title -->
              <h4>Published in Free Code Camp's Medium Publication</h4>
              <!-- description -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="community-container">
          <div class="row">
            <div class="col-xs-3 vertical-center text-center">
              <!-- image -->
              <img src="/img/community/women-who-code-austin-logo.jpeg" />
            </div>
            <div class="col-xs-12">
              <!-- title -->
              <h4>Avid Member of & Mentor for Women Who Code Austin</h4>
              <!-- description -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
