<section class="portfolio">
  <div class="container">
    <div class="heading text-center">
      <h1>Portfolio</h1>
    </div>
    <div class="portfolio-card-container">
      <div class="row">
        <div class="col-sm-6 text-center">
          <!-- Transcend -->
          <div class="card">
            <img src="img/portfolio/transcend-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Transcend</h3>
              </div>
              <p>A VR classroom experience to help remote classmates inteact. Built with A-Frame, React, Node, Redux, WebRTC, and Socket.io.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://transcend.herokuapp.com/" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/TranscendVR/transcend" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <!-- Codsworth Robotics -->
          <div class="card">
            <img src="img/portfolio/codsworth-robotics-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Codsworth Robotics</h3>
              </div>
              <p>An e-commerce site built for your robot needs using React and Redux on the front-end and Node, Express, and Sequelize on the back-end.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://codsworthrobotics.herokuapp.com/" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/bethqiang/codsworth-robotics" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <!-- Game of Life -->
          <div class="card">
            <img src="img/portfolio/game-of-life-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Game of Life</h3>
              </div>
              <p>Conway's Game of Life built with React and Redux. Choose your own or a random configuration, and step forward or play continuously.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://bethqiang.github.io/game-of-life" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/bethqiang/game-of-life" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <!-- Pomodoro Clock -->
          <div class="card">
            <img src="img/portfolio/pomodoro-clock-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Pomodoro Clock</h3>
              </div>
              <p>A productivity app based on the Pomodoro Technique. Customize work and break times. Built using MaterializeCSS, JavaScript, and jQuery.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://bethqiang.github.io/pomodoro-clock" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/bethqiang/pomodoro-clock" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 text-center">
          <!-- Simon Game -->
          <div class="card">
            <img src="img/portfolio/simon-game-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Simon Game</h3>
              </div>
              <p>Play an old-school game of Simon! Built using MaterializeCSS, JavaScript, and jQuery.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://bethqiang.github.io/simon-game" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/bethqiang/simon-game" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <!-- Weather App -->
          <div class="card">
            <img src="img/portfolio/weather-app-screenshot.jpg" />
            <div class="card-description-div">
              <div class="card-header">
                <h3>Weather App</h3>
              </div>
              <p>View the current weather and the 3-day forecast based on your current location. Built using Bootstrap, JavaScript, jQuery, and various APIs.</p>
            </div>
            <div class="row links">
              <div class="col-xs-6 text-center">
                <a href="https://weather-app-bq.surge.sh/" target="_blank">Demo</a>
              </div>
              <div class="col-xs-6 text-center">
                <a href="https://github.com/bethqiang/weather-app" target="_blank">Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
