<section class="community">
  <div class="container">
    <div class="heading text-center">
      <h1>Around the Tech Community</h1>
    </div>
    <div class="community-container">
      <div class="row">
        <div class="col-xs-3 vertical-center text-center">
          <img src="/img/community/working-women-advocates.png" />
        </div>
        <div class="col-xs-12">
          <h4>Chief Tech Geek & Dev at <a href="http://workingwomenadvocates.org/" target="_blank">Working Women Advocates</a></h4>
          <p>A platform for women who are experiencing difficulties at work, like harassment or discrimination, to connect with trained advocates who provide support and guidance.</p>
        </div>
      </div>
    </div>
    <div class="community-container">
      <div class="row">
        <div class="col-xs-3 vertical-center text-center">
          <img src="/img/community/general-assembly-logo.png" />
        </div>
        <div class="col-xs-12">
          <h4>Winner of General Assembly's Social Impact Create-A-Thon</h4>
          <p>Part workshop, part design thinking competition. I worked with a team to develop a solution to a social challenge in the Austin community using design thinking processes and principles.</p>
        </div>
      </div>
    </div>
    <div class="community-container">
      <div class="row">
        <div class="col-xs-3 vertical-center text-center">
          <img src="/img/community/course-report-logo.png" />
        </div>
        <div class="col-xs-12">
          <h4>Student Spotlight: Beth Qiang of Fullstack Academy's Remote Immersive</h4>
          <p><a href="https://www.coursereport.com/schools/fullstack-academy#/news/student-spotlight-bethany-qiang-of-fullstack-academy-remote" target="_blank">I talk to Course Report</a> about why I wanted to learn JavaScript, discuss my experiences in Fullstack's new Remote Immersive program, and give a demo of the online learning platform.</p>
        </div>
      </div>
    </div>
    <div class="community-container">
      <div class="row">
        <div class="col-xs-3 vertical-center text-center">
          <img src="/img/community/freecodecamp-logo.png" />
        </div>
        <div class="col-xs-12">
          <h4>Article Published in Free Code Camp's Medium Publication</h4>
          <p>In <a href="https://medium.freecodecamp.com/read-search-dont-be-afraid-to-ask-743a23c411b4#.p7qndck2g" target="_blank">Read, Search, (Don't Be Afraid to) Ask</a>, I offer my advice on and experiences with Free Code Camp's Read, Search, Ask methodology for getting unstuck when you're stuck.</p>
        </div>
      </div>
    </div>
    <div class="community-container">
      <div class="row">
        <div class="col-xs-3 vertical-center text-center">
          <img src="/img/community/women-who-code-austin-logo.jpeg" />
        </div>
        <div class="col-xs-12">
          <h4>Avid Member of & Mentor for Women Who Code Austin</h4>
          <p>In addition to attending workshops on topics like functional programming, giving talks, and participating in hack nights and <a href="http://bethqiang.com/blog/2016/10/24/first-hackathon-react-git-and-working-with-developers/" target="_blank">hackathons</a>, I also mentor beginning coders in JavaScript, React, and Express.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
