@import 'variables';

@font-face {
  font-family: vesterbro-poster;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Vesterbro-Poster.woff2") format("woff2"),
  url("/fonts/Vesterbro-Poster.woff") format("woff");
  font-display: swap;
}

body {
  background-color: $white;
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
}

a {
  color: $blue;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}

.mainContent {
  margin-top: 50px;
  margin-bottom: 50px;
}